<launch>
  <node name="map_server" pkg="map_server" type="map_server"
        args="$(find project_mapping)/maps/project_mapping_map.yaml" />
        <node pkg="amcl" type="amcl" name="amcl" output="screen">
  <rosparam file="$(find project_localization)/config/amcl_params.yaml" command="load" />

  <remap from="scan" to="/scan" />

  <param name="odom_frame_id" value="odom" />
  <param name="base_frame_id" value="base_footprint" />
  <param name="global_frame_id" value="map" />
</node>

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find project_planning)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find project_planning)/config/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find project_planning)/config/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find project_planning)/config/costmap_global.yaml" command="load" />
    <rosparam file="$(find project_planning)/config/costmap_local.yaml" command="load" />
    <rosparam file="$(find project_planning)/config/global_planner.yaml" command="load" />
    <rosparam file="$(find project_planning)/config/local_planner.yaml" command="load" />

    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
  </node>
  </launch>

